/* wpFuture CSS */

.wpfuture > ul {
	clear:both;
	margin: 30px 15px;
	border: 1px solid #DFDFDF;
	padding:6px 12px 1px;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.wpfuture input.button-primary {
	margin: 10px 0px 30px 10px;
}